.hi{
	background-color:#445162;
	padding:50px 0;
}

.container{
	max-width:1180px;
	margin:0px auto;
}

.hi_row{
	display:flex;
	justify-content:space-between;
}

.hi_body{
	color:#fff;
	
}

.hi_title{
	text-shadow: 1px 1px 0;
	font-size:45px;
	margin: 0px 0px 35px 0px;
	
}

.hi_list li{
	background:url('./icon.png') no-repeat;
	list-style-type: none;
	font-size:20px;
	padding-left:35px;
	margin-bottom:15px;
}

.hi_image{
	flex: 0 0 350px;
}

.quotes{
	padding:30px;
}

.quotes_row{
	display:flex;
}

.quotes_image{
	align-self:center;
	flex: 0 0 450px;
}

.quotes_image img{
	max-width:100%;
}

.quotes_body{
	flex: 1 1 auto;
	padding-left:38px;
}

.quotes_title{
	color: #445161;
	font-size: 30px;
	line-height:36px;
	margin-bottom:30px;
}

.quotes_text p{
	color: #333333;
	font-size: 16px;
	line-height: 24px;
}

.columns{
	background-color:#f5f5f5;
	padding:50px 0 20px 0;
}

.columns_title{
	color:#445161;
	font-size:25px;
	line-height:30px;
	text-align:center;
	padding-bottom:50px;
}

.columns_row{
	display:flex;
	flex-wrap:wrap;
	margin:0px -8px;
}

.columns_column{
	flex: 0 1 50%;
	margin-bottom:30px;
}

.item_row{
	display:flex;
}

.item-image{
	flex:0 0 200px;
}

.item_body{
	flex: 1 1 auto;
	padding-left:15px;
}

.item_title{
	color:#445161;
	font-size:25px;
	line-height:30px;
	margin-bottom:15px;
}

.item_text{
	color:#333333;
	font-size:15px;
	line-height:24px;
}

.vertical{
	padding:50px 0px;
}

.vertical_title{
	color:#445161;
	font-size:25px;
	text-align:center;
	margin:0px 0px 30px 0px;
}

.vertical_body{
	max-width:990px;
	margin:0px auto;
}

.vertical_column{
	display:flex;
	flex: 0 1 33.333%;
	padding: 0px 22.5px;
}

.vertical_row{
	display:flex;
	margin: 0px -22.5px;
}

.vertical_item{
	background-color:#445162;
	color:white;
	border-radius:5px;
	padding:0px 0px 20px 0px;
	border: 1px solid #445162;
	display:flex;
	flex-direction:column;
}

.vertical_subtitle{
	text-align:center;
	font-size:24px;
	text-transform:uppercase;
	padding:12px 0px;
}

.vertical_label{
	background-color:white;
	text-align:center;
	color: #445162;
	padding:15px 0px;
	font-size:40px;
	
}

.vertical_text{
	padding:20px;
	font-size:14px;
	line-height:24px;
	flex: 1 1 auto;
}

.vertical_text p{
	margin: 0px 0px 15px 0px;
}

.vertical_text p:last-child{
	margin:0px;
}

.vertical_btn{
	display:block;
	margin:0px 20px;
	height:40px;
	line-height:40px;
	text-align:center;
	border-radius:5px;
	font-size:18px;
	background-color:white;
	color: #445162;
	text-decoration: none;
}

.footer{
	background-color:#f5f5f5;
}

.footer_row{
	display:flex;
	height: 65px;
	justify-content:center;
	align-items:center;
}

.footer_text{
	color:#445162;
	font-size:12px;
	letter-spacing:0.3px;
}